@model List<SecureCampusApp.Models.Course>

<h2>My Courses</h2>

@if (!Model.Any())
{
    <p>No courses assigned.</p>
}
else
{
    <table class="table">
        <tr>
            <th>Code</th>
            <th>Name</th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CourseCode</td>
                <td>@c.CourseName</td>
            </tr>
        }
    </table>
}
